<p id="notice"><%= notice %></p>
  <div class="container">
    <h1>Mister</h1>
    <h1>Cocktails</h1>


      <% @cocktails.each do |cocktail| %>
        <div class="cards">
          <%= cocktail.name %>
          <%= link_to 'Show', cocktail %>
          <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>


  <br>
  <%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
</div>
